.Navbar {
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, rgba(183, 104, 232, 0.58) 0%, rgba(46, 155, 189, 0.58) 100%);
    padding: 10px 30px;

}

.logoBox {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.pushckinCard {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100px;
}