.filter {
    padding: 8px 16px 8px 16px;
    border-radius: 0.375rem;
    border: 1px solid #481D8E;
    /*border-image-source: ;*/
    margin: 10px 0;
}

/*@media (max-width: 1250px) {*/
/*    .filter {*/
/*        width: 100%;*/
/*    }*/
/*}*/